html {
    background-color: #fff;
    display: block;
    margin: 1rem 1.5rem 1rem 1rem;
    scroll-behavior: smooth;
}

h1 {
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 28px;
    padding-top: 1rem;
    padding-left: .5rem;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  
  header {
    background: #333;
    padding: 2rem;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  
  header a {
    color: #fff;
  }
  
  h1 {
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .poem-wrapper {
    padding: 5rem 2rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
  }
  
  p {
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  .byline {
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }
  
  .about-author {
    background-color: #f2f2f2;
    margin-top: 5rem;
    padding: 2rem 2rem 1rem 2rem;
  }
  
  .about-author h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .about-author p {
    font-size: 0.875rem;
  }
  
  .about-author a {
    color: red;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-out;
  }
  
  .about-author a:hover {
    color: #000;
  }
  
  @media screen and (min-width: 700px) {
    header {
      display: flex;
      justify-content: space-between;
    }
    h1 {
      margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: 1080px) {
    .poem-wrapper {
      display: flex;
      justify-content: space-between;
    }
    .about-author {
      max-width: 500px;
    }
  }